@model website.Models.LoginModel

@{

    Layout = null;
}

@*@Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnURl" value="@ViewBag.returnURl" />

        <div class="divTable blueTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">Kullanıcı Adı</div><div class="divTableCell">   @Html.TextBoxFor(x => x.Name, new { @class = "" })</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">Şifre</div><div class="divTableCell"> @Html.PasswordFor(x => x.Password, new { @class = "" })</div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">  <button type="submit" class="btn btn-primary">Giriş Yap</button></div>
                </div>
            </div>
        </div>
    }*@

<!DOCTYPE html>

<html lang="">
<head>
    <title>Complication Insure</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/insre/loginuser/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/insre/loginuser/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/insre/loginuser/images/turzm.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                @using (Html.BeginForm())
                {@Html.ValidationSummary()
                <span class="login100-form-title p-b-26">
                    Hoş Geldiniz
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-pin-account"></i>
                </span>



                @Html.AntiForgeryToken()
                <input type="hidden" name="returnURl" value="@ViewBag.returnURl" />
                <div class="wrap-input100 validate-input">
                    @Html.TextBoxFor(x => x.Name, new { @class = "input100", @required = "required" })
                    <span class="focus-input100" data-placeholder="Pasaport Numarası / TC"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    @Html.PasswordFor(x => x.Password, new { @class = "input100", @required = "required" })
                    <span class="focus-input100" data-placeholder="Şifre"></span>
                </div>
                <span class="text-danger text-center"> @Html.ValidationSummary()</span>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Üye değil misin?

                    </span>

                    <a class="txt2" href="/SignUp/Index">
                        Kayıt Ol
                    </a>
                    <div class="form-group">
                        <a href="/SignUp/ForgotPassword">Forgot Password</a>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
    <script>
        "use strict";
      
        var spsp = document.getElementById("Name");
        var karakterSiniri = 20;

        spsp.onkeyup = karakterKontrol;
        spsp.onkeydown = karakterKontrol;


        function karakterKontrol() {
            var mesajUzunluk = this.value.length;

            if (karakterSiniri >= mesajUzunluk) {
                var kalan = karakterSiniri - mesajUzunluk;

            } else {
                this.value = this.value.substr(0, karakterSiniri);
            }
        }
    </script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/vendor/bootstrap/js/popper.js"></script>
    <script src="~/insre/loginuser/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/insre/loginuser/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/insre/loginuser/js/main.js"></script>

</body>
</html>